@import "susy";
@import "compass/reset";
@import "compass/typography";
@import "vendor/_font-awesome";

// Compass settings.
$base-font-size     : 20px;
$base-line-height   : 30px;

// Susy grid settings.
$total-columns      : 12;
$column-width       : 60px;
$gutter-width       : 10px;
$grid-padding       : 10px;

$breakpoint         : 800px;
$media-layout       : 12 $breakpoint;


@include establish-baseline;

body {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
    min-height: 100%;
    background-color: #f2f2f2;
}


/** Typography */

p {
    margin: 0px 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 { @include adjust-font-size-to(42px); }
h2 { @include adjust-font-size-to(30px); }

a:link, a:visited, a:hover {
    color: #872020;
}

/** Style */

@mixin dark-style {
    background-color: #333333;
    color: #f2f2f2;
}


/** Containers */

.page {
    /** Sidebar */
    .header {
        @include container(fluid);
        @include dark-style;
        .container {
            @include container;
            padding-top: 10px;
            padding-bottom: 10px;

            height: 80px;
            @include at-breakpoint($breakpoint) {
                height: 120px;
            }

            .image-container {
                height: 120px;
                width: 120px;
                margin-right: 20px;
                float: left;
                img {
                    margin: 10px;
                }
            }

            .info {
                padding: 10px;
                .description {
                    font-style: italic;
                    font-weight: 100;
                }
            }
        }
    }

    /** Main Content */
    .main {
        @include container(fluid);
        box-shadow: inset 0px 1px 0px #fff;
        .container {
            @include container;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}


/** Pages */

// Posts
.page .main .container {
    ul.posts {
        li {
        }
    }
}

