<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | wenhaolue.com</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <link href="/assets/css/style.css" media="screen, projection"
          rel="stylesheet" type="text/css">
  </head>
  <body>
    <script src="/assets/js/retina.js"></script>

    <div class="page">
      <header class="header">
        <div class="container">
          {% include header.html %}
        </div>
      </header>
      <section class="main">
        <div class="container">
          {{ content }}
        </div>
      </section>
    </div>

  {% if site.google_analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endif %}

  </body>
</html>
