<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | wenhaolue.com</title>
    <meta name="viewport" content="width=device-width">
    <link href='//fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <link href="/assets/css/style.css" media="screen, projection"
          rel="stylesheet" type="text/css">
  </head>
  <body>
    <script src="/assets/js/retina.js"></script>

    <div class="page">
      <header class="header">
        <div class="container">
          {% include header.html %}
        </div>
      </header>
      <section class="main">
        <div class="container">
          {{ content }}
        </div>
      </section>
      <footer class="footer">
        <hr>
        <ul class="social">
          <li class="twitter">
            <a href="http://twitter.com/wlue">
              <i class="icon-twitter-sign icon-2x"></i>
            </a>
          </li>
          <li class="github">
            <a href="http://github.com/wlue">
              <i class="icon-github-sign icon-2x"></i>
            </a>
          </li>
          <li class="linkedin">
            <a href="http://ca.linkedin.com/pub/wen-hao-lue/21/13a/695">
              <i class="icon-linkedin-sign icon-2x"></i>
            </a>
          </li>
        </ul>
      </div>
      </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
